@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: url("bg.jpg") no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    color: white;
    min-width: 35rem;
    height: 40rem;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.glass{
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(1rem);
}

.result{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px rgba(255, 255, 255, 0.5);
}

.result h2{
    width: 95%;
    font-weight: 700;
    font-size: 3rem;
    text-align: right;
}

main .calcButtons{
    display: grid;
    grid-template-columns: auto auto auto;
}

main .topSettings{
    display: grid;
    grid-template-columns: auto auto auto;
}

input[type=button]{
    border: 0;
    background: rgba(255, 255, 255, 0.7);
    height: 6rem;
    font-weight: 700;
    font-size: 2rem;
    color: white;
}

input[type=button] #zero{
    min-width: 100%;
}