@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: url("bg.jpg") no-repeat;
    background-size: 2500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    color: white;
    min-width: 25rem;
    height: 32rem;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.glass{
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(0.5rem);
}

.result{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px rgba(255, 255, 255, 0.5);
}

.result h2{
    width: 95%;
    font-weight: 700;
    font-size: 3rem;
    text-align: right;
}

.buttonsGrid{
    display: grid;
    grid-template-columns: 4fr 1fr;
}


main .gridNumbers{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column: 1;
}

.gridNumbers input[type=button]{
    height: 100%;
}

main .gridOperators{
    display: grid;
    grid-column: 2;

}

input[type=button]{
    border: 0;
    background: rgba(255, 255, 255, 0.7);
    height: 6rem;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    border: solid 1px white;
}

#deleteButton{
    width: 24%;
    border-top-right-radius: 20px;
    height: 100%;
    margin-left: 10px;
}